DiabetesPrediction.json
[{"id":"f0b36250.9e4fc","type":"ui_form","z":"a886aa73.256148","name":"","label":"","group":"abf7e99b.e1f858","order":2,"width":0,"height":0,"options":[{"label":"No. of Pregnancies","value":"pg","type":"number","required":true,"rows":null},{"label":"Random Glucose","value":"rg","type":"number","required":true,"rows":null},{"label":"Blood Pressure","value":"bp","type":"number","required":true,"rows":null},{"label":"Skin Thickness","value":"st","type":"number","required":true,"rows":null},{"label":"Insulin","value":"ins","type":"number","required":true,"rows":null},{"label":"Body Mass Index","value":"bmi","type":"number","required":true,"rows":null},{"label":"Diabetes Pedigree Function","value":"dpf","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"pg":"","rg":"","bp":"","st":"","ins":"","bmi":"","dpf":"","ag":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":70,"y":260,"wires":[["26d6af4b.a6fed","bf2950d2.dac49"]]},{"id":"26d6af4b.a6fed","type":"debug","z":"a886aa73.256148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":340,"wires":[]},{"id":"bf2950d2.dac49","type":"function","z":"a886aa73.256148","name":"pre-token","func":"global.set(\"pg\",msg.payload.pg)\nglobal.set(\"rg\",msg.payload.rg)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"ins\",msg.payload.ins)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"dpf\",msg.payload.dpf)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"dGUpwM3LOud7P7HWNJth9FntiXkuh9oeyqN6zDnDtAhA\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":200,"wires":[["23c25775.580618"]]},{"id":"23c25775.580618","type":"http request","z":"a886aa73.256148","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":244.00000286102295,"wires":[["177ca718.1860e9","1ea5fa55.177ad6"]]},{"id":"177ca718.1860e9","type":"debug","z":"a886aa73.256148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":300,"wires":[]},{"id":"1ea5fa55.177ad6","type":"function","z":"a886aa73.256148","name":"Pre Prediction","func":"var pg = global.get(\"pg\")\nvar rg = global.get(\"rg\")\nvar bp = global.get(\"bp\")\nvar st = global.get(\"st\")\nvar ins = global.get(\"ins\")\nvar bmi = global.get(\"bmi\")\nvar dpf = global.get(\"dpf\")\nvar ag = global.get(\"ag\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Pregnancies\", \"Random Glucose\", \"Blood Pressure\", \"Skin Thickness\", \"Insulin\", \"BMI\", \"Diabetes Pedigree Function\", \"Age\"]],\"values\": [[pg,rg,bp,st,ins,bmi,dpf,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.0000076293945,"y":196.0000021457672,"wires":[["2bb63245.b3219e"]]},{"id":"2bb63245.b3219e","type":"http request","z":"a886aa73.256148","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/23adfaeb-9ec8-47c4-a5e6-0ed9e043b10e/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":220,"wires":[["e5ab0ba1.8c0758","f5228963.1d8488"]]},{"id":"e5ab0ba1.8c0758","type":"debug","z":"a886aa73.256148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":982.9999914169312,"y":304.00000381469727,"wires":[]},{"id":"3f4979e3.6904e6","type":"inject","z":"a886aa73.256148","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["bf2950d2.dac49"]]},{"id":"7be28142.855a7","type":"debug","z":"a886aa73.256148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":813.9999885559082,"y":87.0000057220459,"wires":[]},{"id":"f5228963.1d8488","type":"function","z":"a886aa73.256148","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.6000595092773,"y":128.00000190734863,"wires":[["7be28142.855a7","d28a4cb8.c17d3"]]},{"id":"d28a4cb8.c17d3","type":"ui_text","z":"a886aa73.256148","group":"abf7e99b.e1f858","order":3,"width":0,"height":0,"name":"","label":"Your chance of getting diabetes is","format":"{{msg.payload}}","layout":"row-left","x":857.6000366210938,"y":361.20001220703125,"wires":[]},{"id":"abf7e99b.e1f858","type":"ui_group","z":"","name":"Dear User, Please enter the details (Enter precise data to get better predictions/Consult doctor for medical advice)","tab":"7303663a.f945d8","order":1,"disp":true,"width":9,"collapse":false},{"id":"7303663a.f945d8","type":"ui_tab","z":"","name":"Diabetes Prediction App","icon":"dashboard","order":1,"disabled":false,"hidden":false}]